* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.7em;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Poppins", sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

/* *******************************************
        Global CSS start here
********************************************** */
.container {
    width: 1140px;
    margin: 0px auto;
}

.row {
    width: 100%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}

header {
    width: 100%;
    float: left;
    padding: 18px 0px;
    border-bottom: 1px solid #eceeecf2
}

.header .menu {
    display: block;
    list-style: none;
    text-align: right;
}

.header .menu li {
    display: inline-block;

}

.header .menu li a {
    display: block;
    margin: 10px 15px 5px;
    color: #0f2656;
    font-size: 15px;
    line-height: 1.7em;
    transition: 0.7s ease-in;
}

.header .menu li a :hover,
.header .menu li a :focus {
    color: #0c66ff;

}

.banner {
    width: 100%;
    float: left;
    padding: 80px 0px;
    text-align: center;
}

.banner h1 {
    font-size: 60px;
    line-height: 1.3;
    color: #0f2656;
    margin: 0 0 10px;
    font-weight: 600;
}

.banner h1 span {
    color: #0c66ff;
}

.banner p {
    font-size: 15px;
    line-height: 1.7em;
    color: #0f2656;
    margin: 0 0 10px;
}

.banner .img-1 {
    width: 65%;
    margin-top: 20px;
}

/* ***********************************************
        section Cass start here
**************************************************/
.success {
    width: 100%;
    float: left;
}

.s-left {
    width: 100%;
    float: left;
    text-align: right;
}

.s-left h1 {
    font-size: 64px;
    line-height: 1.3em;
    font-weight: 600;
    color: #f15767;
    margin: 0 20px 5px 0;
}

.s-left p {
    font-size: 18px;
    line-height: 1.7em;
    color: #0f2656;
    margin: 0 20px 10px 0;
}

.s-right {
    width: 100%;
    float: left;
}

.s-right h1 {
    font-size: 64px;
    line-height: 1.2em;
    font-weight: 500;
    color: #0f2656;
    margin: 0 20px 5px 0;
}

/* ************************************************
            feature
****************************************/
.col-4 {
    width: 33.33%;
    float: left;
}

.feature {
    width: 100%;
    float: left;
    padding: 80px 0px;
}

.feature .f-box {
    width: 80%;
    float: left;
    padding: 60px 25px;
    border-radius: 10px;
}

.f-box img {
    width: 100%;
    height: 179px;

}

.feature .f-box h4 {
    font-size: 24px;
    line-height: 1.2em;
    color: #0f2656;
    margin: 10px 0 0;
}

.feature .f-box p {
    font-size: 15px;
    line-height: 1.7em;
    color: #0f2656;
    margin: 10px 0 0;
}

.bg-1 {
    background: #fdebed;
}

.bg-2 {
    background: #ebf9f4;
}

.bg-3 {
    background: #fff7e8;
}

/* **************************************************
            Footer CSS start here
***************************************************** */
footer {
    width: 100%;
    float: left;
    padding-top: 15px;
    background: #008aff;
}

footer p {
    text-align: center;
    color: #85b5ff;
    font-size: 15px;
    line-height: 1.7em;
}

footer p a {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
}

/* **************************************************
            Foooter CSS end here
    ***************************************************/